/* app.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; /* Specify your preferred font family */

}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color:#BFC9CA; /* Optional: Add a background color for better visibility */
}

h1 {
  font-size: 2em; /* Optional: Adjust the font size */
}